<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BURGER TIME!</title>
    <link rel="stylesheet" href="/css/burger-style.css" type="text/css">
</head>
<body>

    {{{body}}}
<script src="./js/script.js"></script>
</body>
</html>